* {
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}

/* HOMEPAGE SECTION */

#homePage {
    height: 100vh;
    background-color: #252C46;
    overflow: hidden;
}

#navbar {
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#navbarLogo h4 {
    color: white;
}

#navbarLinks ul {
    display: flex;
    gap: 54px;
}

#navbarLinks ul a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#contactMe {
    background-color: #2B3869;
    padding: 0 5px;
    transition: 0.2s;
}

#contactMe:hover {
    background-color: #354a96;
}

#infoContainer {
    margin: 80px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textHI {
    color: #74E5FF;
    margin-left: 7px;
}

#containerTXT h1 {
    color: #CDCDCD;
    font-size: 5rem;
}

#containerTXT h2 {
    font-size: 3rem;
    color: #737373;
}

.txtParagraph {
    color: #737373;
    margin-left: 5px;
}

#SMlinks a {
    font-size: 50px;
    color: white;
}

/* ABOUT SECTION */

#aboutSection {
    background-color: #22263A;
    overflow: hidden;
}

#aboutContainer {
    margin: 50px;
    height: 300px;
    display: flex;
}

#imgContainer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileIMG {
    border-radius: 9999px;
    height: 250px;
    width: 250px;
    border: 1px solid white;
    background-image: url(./img/pfp.png);
    background-position: center;
    background-size: cover;
}

#contentContainer {
    width: 75%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ABtxt h1 {
    text-align: center;
    color: #CDCDCD;
}

.ABparagraph p {
    color: #737373;
    font-size: 20px;
}

.ABicon {
    color: white;
    text-align: end;
    font-size: 50px;
}

/* PROJECTS SECTION */

#projectsSection {
    height: 100vh;
    background-color: #252C46;
    overflow: hidden;
}

#txtContainer h1 {
    text-align: center;
    margin: 50px;
    color: #CDCDCD;
}

#projectsContainer {
    margin: 100px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#project1, #project2, #project3 {
    height: 70%;
    width: 300px;
}

#pj1Img {
    height: 40%;
    background-image: url(./img/devLinks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#pj1text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    background-color: #22263A;
}

#pj1text div {
    padding: 5px;
}

.pj1content p, .pj2content p {
    color: #737373;
}

.pj1title h3 {
    text-align: center;
    color: #CDCDCD;
}

#technologies {
    display: flex;
    gap: 10px;
}

#technologies img {
    height: 20px;
}

#pj2Img {
    height: 40%;
    background-image: url(./img/limoChat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#pj2text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    background-color: #22263A;
}

#pj2text div {
    padding: 5px;
}

.pj2title h3 {
    text-align: center;
    color: #CDCDCD;
}

#project3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22263A;
}

#project3 p {
    color: #CDCDCD;
}

/* CONTACT ME SECTION */

#CTtxt h1 {
    text-align: center;
    padding: 30px 0;
    color: white;
}

#contactMeSection {
    background-color: #22263A;
    overflow: hidden;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

#CTmainContainer {
    width: 40%;
    margin: 40px auto;                                                            
}

#CTmainContainer input {
    display: block;
    width: calc(100% - 60px);
    margin: 20px 20px 20px;
    outline: none;
    padding: 10px;
    background-color: #252C46;
    border: none;
    color: white;
}

#CTmainContainer #submitBTN {
    width: calc(100% - 40px);
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #2B3869;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#CTmainContainer #submitBTN:hover {
    background-color: #354a96;
}

#CTmainContainer #CTmessage {
    height: 100px;
    width: calc(100% - 50px);
    margin: 0 20px 20px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #252C46;
    color: white;
    resize: none;
    font-size: 14px;
}

