* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    height: 100vh;
}

/* HOME SECTION */

#navbar {
    border: 1px solid black;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}

ul {
    border: 1px solid black;
    background-color: rgb(82, 82, 82);
    max-width: fit-content;
    display: flex;
    gap: 100px;
    padding: 0 10px;
}

li {
    list-style: none;
    background: none;
}

li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0 10px;
}

li a:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100% - 80px);

}

#text-link a {
    color: black;
    font-size: 30px;
    margin-right: 10px;
}

#photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url(./img/portfolio-photo.png);
    background-position: center;
}

#about, #contact {
    background-color: rgb(20, 20, 20);
}

/* ABOUT SECTION */

.aboutText {
    background-color: gray;
    margin: 20px;
}

.aboutText h2 {
    text-align: center;
}